[submodule "llvm"]
	path = llvm
	url = https://github.com/snps-oss/llvm.git
[submodule "clang"]
	path = clang
	url = https://github.com/snps-oss/clang.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/snps-oss/vlang.wiki.git
